<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
<p> program / foreign 따로 상승 가격 하락 시점</p>
<script>
    var id_value = "myChart";
    var monitoring_input_length= {{monitoring_input |length }}
    for (var i =0 ; i < monitoring_input_length ; i++){
        id_value = id_value+i
        var newForm = $('<div></div>');
        newForm.attr("style", "width:800px");
        newForm.append($('<canvas></canvas>', {id: id_value}));
        newForm.appendTo('body');
    }

</script>
<script>
id_value = "myChart";
var index = 0;
{% for monitoring_input_data in monitoring_input.keys() %}
    id_value = id_value+index
    var ctx = document.getElementById(id_value).getContext('2d');
    index++;
    var data =  {
            labels: [
                {% for timeTime in timeTimeLine %}
                "{{timeTime}}",
                {% endfor %}
            ],
            datasets: [{
                label : "Program",
                yAxisID: 'first-y-axis',
                data : [
                {% for timeTime in timeTimeLine %}
                   {{ SP_5min[monitoring_input_data][timeTime] }},
                {% endfor %}
                ],
                backgroundColor:
                    'rgba(255, 99, 132, 0.2)'
                ,
                borderColor:
                    'rgba(255, 99, 132, 0.2)'
                            },
            {

                label : "foreign",
                yAxisID: 'first-y-axis',
                data : [
                {% for timeTime in timeTimeLine %}
                   {{ SK_5min[monitoring_input_data][timeTime] }},
                {% endfor %}
                ],
                backgroundColor:
                'rgba(75, 192, 192, 0.2)',

                borderColor:
                'rgba(75, 192, 192, 0.2)',

                borderWidth: 1
            },

            {
                type: 'line',
                label : "price",
                yAxisID: 'second-y-axis',
              data : [
                {% for timeTime in timeTimeLine %}
                   {{ SC_5min[monitoring_input_data][timeTime] }},
                {% endfor %}
                ],
                backgroundColor:
                'rgba(75, 192, 192, 0.2)',

                borderColor:
                'rgba(75, 192, 192, 0.2)',
            }]
        };
    var myChart = new Chart(ctx, {
        type: 'bar',
        data :data,
        options: {
            title:{
                display:true,
                text:'{{monitoring_input[monitoring_input_data]['korName']}}' +'{{monitoring_input[monitoring_input_data]['gubun']}}'
            },
            responsive: true,
            scales: {
                 yAxes: [{
                        id: 'first-y-axis',
                        position: 'left'
                    }, {
                        id: 'second-y-axis',
                        position: 'right'
                    }]
        }
                    }
    });
{% endfor %}
</script>

</body>
</html>