<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>seo python shinhan indi project</title>
</head>
<body>

<h1>this is buy_sell page</h1>
<form method = "POST" action = "http://1.232.245.14:2020/realTimeProgram_input/">
<div>
<p>종목 코드를 입력 하세요</p>
<input type = "text" name = "stock_code">
</div>
 <div>
<p>한글 종목명</p>
<input type = "text" name = "korName">
</div>
    <div>
<p>전일 구분 5 : 전일 하락 3: 전일 보합 2: 전일 상승</p>
<input type = "text" name = "gubun_code">
</div>


<p>날짜기준 </p>
<input type = "text" name = "date" value="{{date}}">
</div>


    <p><input type = "submit" value = "submit" /></p>

</form>
<p>modify page</p>
<a href = "/modify/">click for modify</a>

<p>go back to index</p>
<a href = "/">click for index</a>
</body>
</body>
</html>