<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>seo python shinhan indi project</title>
</head>
<body>

<h1>this is status page</h1>

<p>go back to index</p>
<a href = "/">click for index</a>
<div>
<p>로그인 현황</p>
<IFRAME src="http://1.232.245.14:2020/autoLogin_Check/" width="267" height="100"  frameborder="0" scrolling="no" align="center"  name="member2" ></IFRAME>
</div>
<div>
<p>TR_1314_3 외국인 기관 매수 종목 데이터 적재 현황</p>
<IFRAME src="http://1.232.245.14:2020/TR_1314_3_result/" width="267" height="44"  frameborder="0" scrolling="no" align="center"  name="member2" ></IFRAME>
</div>

<div>
<p>TR_1206 외국인 기관 매수 종목 데이터 적재 현황</p>
<IFRAME src="http://1.232.245.14:2020/TR_1206_result/" width="267" height="44"  frameborder="0" scrolling="no" align="center"  name="member2" ></IFRAME>
</div>

</body>
</body>
</html>